.container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main {
  min-height: 90vh;
  padding-top: 1.8rem;
}

.title span {
  color: var(--blue);
}

.title {
  margin: 0;
  margin-bottom: 1.8rem;
  text-align: center;
  line-height: 1.15;
  font-size: 2.4rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #0070f3;
  text-decoration: underline;
}



@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
